/reports/soap/*.xml
/reports/log/*.log
/reports/behave/*.json
/reports/behave/*.html
/reports/screenshots/*.png

/node_modules
/behave2cucumber.log

/.env
/env

__pycache__
.mypy_cache

/src

/package/config/certificate.pem
